 /* #image1{
    height: 40px;
    width: 180px;
    margin-left: 50px;
}
.nav-item{
   color: solid transparent;
}
.heading{
    color:#894cf9;
    font-size: 500%;
    font-weight: 700;
  
    letter-spacing:.02em ;
}
.para{
  
    font-size: 23px;
    color: #212529;
}
.div{
    margin-top: 20px;
 
    width: 500px;
}

button{
    color:white;
    background-color: #9520fb;
    border-color: #9520fb;
    border-radius: 100px;
    border: none;
    height: 40px;
    width: 100px; */
    /* border-radius: */
    /* background-color: #3282fa; */
    /* margin-left: 50px; */
/* } */

/* #input{
    width: 400px;
}
.container{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100vh; 
}
.head{
    text-align: center;
    color: #8409ef;
    font-size:xx-large;
    font-weight: 900;
}
.btnContainer{
    display: flex;
    flex-wrap: wrap;
    height:100px;
    /* background-color: aquamarine; */
    /* align-items: center;
    justify-content: center;
    text-align: center;
    margin: 15px 200px;
    gap: 12px;
}
.btnContainer >button{
    background-color: white;
    color: #a351ec;
    border: 1px solid #8409ef;
    border-radius: 8px;
    line-height: 14px;
    font-weight: 700;
}

#design{
    color:linear;
}

.new{
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
    margin-top: 150px;
}

span{
    color: #8409ef;
    font-size: 40px;
    font-weight: 800;
}

.para{
    font-size: x-large;
    text-align: center;
}

#shop-section{
    display: flex;
    justify-content: space-evenly;
} */
.box{
    /* border: 2px solid rgb(10, 9, 9); */
    /* height: 250px;
    width: 23%;
    background-color:aliceblue;
    text-align: center;
    margin-top: 50px;
    border-radius: 30px;
}

.pro{
    color: #8409ef;
    
}

.head1{
    margin-left: 40px;
    text-align: center;
    margin-top: 150px;
    font-size: xx-large;
    font-weight: 700;
}

.chop-section{
    /* background-color: aquamarine; */
     width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.boxes{
     border: 2px solid black;
    height: 250px;
    width: 30%;
    margin-left: 10px;
    align-items: center;
    justify-content: space-evenly;
    border: none; */
    /* background-color: crimson; */
    /* display: flex;
}
.extra{
    width: 86%;
    display: flex;
    justify-content: center;
    background-color: rgb(245, 248, 251);
}
.text{
    width: 50%;
}
.img{
    width: 40%;
}
.image{
    margin-left: 30px;
}

.col{
    color: #8409ef;
}

.head3{
    align-items: center;
    text-align: center;
}

.image4{
    margin-left: 700px;
}

.botton1{
    border-radius: 20px;
    width: 80px;
    height: 50px;
}

.botton{
    border-radius:20px;
    width: 90px;
    height: 50px;
}

.footer-section{
    background-color: #8409ef;
    height: 350px;
    color: white;
   margin-top: 20px;
}
.new1{
    color: white;
    font-size: large;
    margin-top: 50px;
    margin-left: 50px;
}
.new2{
    margin-top: 50px;
    margin-left: 50px;
}

.one{
    font-size:medium;
    color: aliceblue;
    
}
.new3{
    font-size: x-large;
    font-weight: 700;
    margin-left: 50px;
    display: flex;
}

.new4{
    margin-left: 75%;
    font-size: large;
    font-weight: 500;
}  */

